# create direnv's .envrc to activate spotipy's virtual environment
source /Users/Will/.pyenv/versions/3.6.3/bin/virtualenvwrapper.sh
workon spotipy
export PROJECT_HOME=/Users/Will/Documents/Personal/repos/spotipy
