
# create direnv's .envrc to activate spotipy's virtual environment
source /Users/FYE7200/.pyenv/versions/3.6.3/bin/virtualenvwrapper.sh
workon spotipy
export PROJECT_HOME=/Users/FYE7200/Documents/Real_Time_Products/repos/spotipy
unset PS1

