#mod_wsgi-standalone
ipython==7.16.1
jupyter==1.0.0
numpy==1.19.1
pandas==1.1.0
pickleshare==0.7.5
spotipy
eventlet==0.24.1
Flask==1.0.2
Flask-SocketIO==3.0.1
#flask_cors
requests
PyYAML
#uwsgi
#flask-socketio==3.3.1
#schedule
#pyxtermjs
Werkzeug==0.14.1
gunicorn==19.9.0
#flask_socketio
# websocket-client==0.48.0
# python-engineio==2.2.0
# python-socketio==2.0.0