<!DOCTYPE html>
<!--https://getbootstrap.com/docs/4.3/getting-started/introduction/-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      /* border: 1px solid black; */
      /* background-color: lightblue; */
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    }
    </style>
    <title>Spotipy Playlist Form</title>
  </head>
  <body>
    <h2>PyMuse - A Spotify Playlist Creator</h2>
    <h6>Leverage the programming language, Python, to create a personalized Spotify playlist.</h6>
    
    <form action="{{ request.path }}" method="POST">
        <strong>Your New Playlist:</strong><br>
        <input type='text' class='username' placeholder="FreshJams"/><br><br>
        <!-- <p>2. On a scale of 1 to 10, how many songs do you want in your playlist?<br>
        <input type='text' class='message' placeholder="1"/><br><br> -->
        <!-- <p>2. What year (past or present) would you like "featured playlist" songs from?</p><br>
        <input type='text' class='year' placeholder={{ now.year }}><br><br-->
        <input type='submit'/><br><br>
    
    </form>

    <div class="message_holder"></div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type=text/javascript charset="utf-8">

      var socket = io.connect()

      socket.on( 'connect', function() {
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          // let user_input = $( 'input.message' ).val()
          // let year = $( 'input.year' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            // message : user_input,
            // featured_playlist_year : year
          } )
        } )
      } )
      socket.on('my response', function(msg) {
          console.log( msg )
          if( typeof msg.data !== 'undefined' ) {
            $( 'div.message_holder' ).append('<div>'+msg.data+'</div>' )
          }
      })

    </script>

  </body>
  <footer>
  </footer>
</html>
  <!--{% block body %}{% endblock %}-->